<%=simple_form_for category , html: { class: "w-full max-w-full mx-auto p-8 bg-white rounded-lg shadow-md space-y-6"} do |f|%>
    <div class="flex justify-end">
    <%= link_to "X",product_categories_path	,data:{turbo_frame:"add-product"}, class: "px-4 py-1 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]" %>
</div>

    <%= f.input :name,required: true,
    autofocus:true,
    wrapper_html: {class:"flex-1"},
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"} %>

    <%= f.input :icon,
    
    wrapper_html: {class:"flex-1"},
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"} %>
        
    <%= f.button :submit ,class:"w-full px-4 py-2 mt-6 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]"%>
<% end %>