<tr class="bg-gray-200 hover:bg-gray-400" id="order_product_<%= orderProduct.id %>">
    <td class="px-4 py-3 flex justify-center"> 
        <%=ProductImage(orderProduct.product, "w-10 h-10 rounded mr-4")%>
    </td>
    <td class="px-4 py-3 text-center"> <a href="/products/<%= orderProduct.product.id %>"><%= orderProduct.product.title %></a> </td>
    <td class="text-center px-4 py-3"> <%= orderProduct.quantity %> </td>
    <td class="px-4 py-3 text-center"> <%= orderProduct.created_at.to_formatted_s(:long) %> </td>
    <td class="text-center px-4 py-3"> 
        <%= simple_form_for orderProduct, html: { class: "flex items-center gap-4" } do |f| %>
  <div class="relative">
    <%= f.input :status, 
                collection: OrderProduct.statuses.keys.map { |status| [status.titleize, status] }, 
                label_html: { class: "hidden" }, 
                include_blank: false, 
                input_html: { class: "block w-full px-4 py-2 text-sm text-[#2e2e2e] bg-[#f5f5f5] border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54] focus:border-[#f25c54]" } %>
  </div>

  <%= f.submit "Update", 
                class: "px-4 py-2 text-sm font-medium text-white bg-[#f25c54] rounded-md hover:bg-[#d9443c] focus:outline-none focus:ring-2 focus:ring-[#f25c54] focus:ring-offset-2" %>
<% end %>

    </td>
</tr>