<tr class="border-b w-full hover:bg-gray-200 h-10 text-[16px]" id="product_<%= product.id %>">
    <td class="flex items-center justify-center">
        <%=ProductImage(product, "w-10 h-10 rounded mr-4")%>
    </td>
    <td class="">
        <a href="/products/<%= product.id %>"><%= product.title %></a>
    </td>
    <td class="text-center">
        <%= product.price %>
    </td>
    <td class="text-center"> <%= product.stock %> </td>
    <td class="text-center"> <%= time_ago_in_words(product.created_at) %> ago</td>
    <td class="text-center px-4"> <%= button_to "Edit", edit_product_path(product.id), data:{ turbo_frame: "_top" }, method: :get, class:"w-full py-1 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]"%></td>
    <td class="text-center px-4"><%= button_to "Delete", product_path(product.id), data:{ turbo_frame: product }, method: :delete, class:"w-full py-1 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]"%></td>
</tr>
