<%= turbo_frame_tag product do %>
    <div class="border-b w-full hover:bg-gray-200 flex">
        <div class="px-4 py-3 flex items-center">
            <%= image_tag url_for(product.product_image[0]), class: "w-10 h-10 rounded mr-4" %>
            <span class="text-[#2e2e2e] font-medium min-w-[350px]"> <%= product.name %> </span>
        </div>
        <div class="px-4 py-3 text-[#2e2e2e] text-center"> Rs. <%= product.price %> </div>
        <div class="px-4 py-3 text-[#2e2e2e]"> <%= product.created_at.to_formatted_s(:long) %> </div>
        <div class="px-4 py-3">
            <%= button_to "Edit", edit_product_path(product.id), data:{ turbo_frame: product }, method: :get, class:"w-full px-0 py-1 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]"%>
        </div>
        <div class="px-4 py-3">
            <button class="flex items-center px-3 py-1 text-[#2e2e2e] bg-gray-100 hover:bg-gray-200 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" sdivoke="currentColor">
                <path sdivoke-linecap="round" sdivoke-linejoin="round" sdivoke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            Delete
            </button>
        </div>
    </div>
<% end %>