<div class="w-full py-4 min-h-[calc(100vh_-_68px)] flex justify-center items-center ">
  <div class=" w-[60%]">
    <h2 class="text-3xl font-semibold text-center text-[#2e2e2e] mb-6">Add Product</h2>
    <%= simple_form_for product, html: { class: "w-full max-w-full mx-auto p-8 bg-white rounded-lg shadow-md space-y-6" } do |f| %>

    <div class="flex gap-4">
        <%= f.input :name ,
            autofocus:true,
            required: true,
            wrapper_html: {class:"flex-1"},
            label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
            input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54] "} %>
        <%= f.input :brand ,
            required: true,
            wrapper_html: {class:"flex-1"},
            label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
            input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54] "}%>
    </div> 
    <%=f.input :product_image,
        required: true,
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"}%>
    <%= f.input :description,
        required: true,
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"} %>
    <div class="flex gap-4">
    <%= f.input :price,required: true,
    wrapper_html: {class:"flex-1"},
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"} %>
    <%= f.input :product_category_id,required: true,
        as: :select,
        wrapper_html: {class:"flex-1"},
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"}%>
    </div>

    <div class="flex gap-4">
    <%= f.input :stock,required: true,
    wrapper_html: {class:"flex-1"},
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"}%>
    <%= f.input :discount_percentage,required: true,
    wrapper_html: {class:"flex-1"},
        label_html: { class: "block text-base font-medium text-[#2e2e2e] mb-1" },
        input_html:{class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]"} %>
        </div>
    <%= f.button :submit ,class:"w-full px-4 py-2 mt-6 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]"%>
    <% end %>
    
    </div>
</div>
