<div class="w-full h-[calc(100vh_-_68px)] flex justify-center items-center">
  <div>
    <h2 class="text-3xl font-semibold text-center text-[#2e2e2e] mb-6">Log in</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-full max-w-md mx-auto p-8 bg-white rounded-lg shadow-md space-y-6" }) do |f| %>
      <div class="space-y-4">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password", class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#f25c54]" } %>
        <%= f.input :remember_me, as: :boolean, input_html: { class: "mr-2" }, label_html: { class: "text-[#2e2e2e]" } if devise_mapping.rememberable? %>
      </div>
    
      <div class="mt-6">
        <%= f.button :submit, "Log in", class: "w-full px-4 py-2 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]" %>
      </div>
    <% end %>
    
    <div class="mt-4 text-center text-sm text-[#2e2e2e]">
      <%= render "vendors/shared/links" %>
    </div>
  </div>
</div>
