<%= turbo_stream_from "products" %>
<div class="w-[70%] mx-auto">
<div class="flex gap-1 mx-3 ">
    <%=link_to "Add Product",new_product_path,
    data:{turbo_frame:"add_product"},
    method: :get,class:"w-full px-4 py-2 mt-6 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none text-center focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54]"%>

    <%=link_to "All Categories",product_categories_path,class:"w-full px-4 py-2 mt-6 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54] text-center"%>
</div>

<%= simple_form_for :search, url: search_products_path, method: :get, html: { class: "search-form flex mx-3 gap-1 my-2" } do |f| %>
  <%= f.input :query, label: false, placeholder: "Search for products...", wrapper_html: { class: "w-full"}, input_html: { class: "w-full h-full shadow-md rounded px-4 py-2 focus:outline-none"} %>
  <%= f.button :submit, "Search", class: "px-4 py-2 text-white bg-[#f25c54] rounded-md hover:bg-[#d94b43] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#f25c54] text-center" %>
<% end %>


<%=turbo_frame_tag "add_product"%>

<h1 class="text-5xl text-[#f25c54] font-semibold my-4">Products</h1>
    <table class="w-full border-collapse text-sm text-left text-[#2e2e2e]">
        <thead>
            <tr class="border-b w-full bg-gray-200 h-[45px]">
                <th class="text-center h-full text-[16px]">Image</th>
                <th class="text-center h-full text-[16px]">Name</th>
                <th class="text-center h-full text-[16px]">Price</th>
                <th class="text-center h-full text-[16px]">Stock</th>
                <th class="text-center h-full text-[16px]">Created</th>
                <th class="text-center h-full text-[16px]">Edit</th>
                <th class="text-center h-full text-[16px]">Delete</th>
            </tr>
        </thead>
        <tbody id="products">
            <% @products.each_with_index do |product, index| %>
                <%= render "shared/product", product: product, index: index %>
            <% end %>
        </tbody>
    </table>
    <div class="flex justify-center p-4"><%= paginate @products %></div>
</div>