<div class="lg:flex mx-auto w-[90%] mt-4 lg:gap-6 ">
  <!-- Image Section -->
  <div class="mx-auto lg:w-[60%] overflow-hidden">
    <%=ProductImage(@product, "w-full rounded mt-3 hover:scale-105")%>
  </div>

    <!-- Details Section -->
    <div class="w-full border rounded shadow-sm p-4 lg:p-6">
        <div class="text-[#c96262] text-xl font-semibold mb-4 text-justify"><%= @product.title %></div>
        <div class="text-gray-600 text-lg lg:text-xl mb-2">Brand: <%= @product.brand %></div>
        <div class="text-red-600 text-lg mb-2">
            <span class="line-through">Rs. <%= @product.price %></span>
            <span class="ml-2"><%= @product.discount_percentage %>% Off</span>
        </div>
        <div class="text-green-500 text-xl font-bold mb-4">
            Rs. <%= calc_discounted_amount(@product.price, @product.discount_percentage) %>
        </div>
        <div class="text-blue-900 text-lg">Stock: <%= @product.stock %></div>
    </div>
</div>